{% extends 'base.html' %}
{% load widget_tweaks %}
{% block appendcss %}
<style>
    .signin-form {
        background-color : #f5f5f5;
        max-width: 320px;
        width: 100%;
        margin: auto;
    }

    .signin-form .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        font-size: 1.1rem;
    }

    .signin-form .form-control:focus {
        z-index: 2;
    }

    .signin-form input[type="text"] {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .signin-form input[type="password"] {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
</style>
{% endblock %}
    
{% block title %}Login{% endblock %}

{% block contents %}
<div class="text-center py-4">
    <div class="display-1 py-5" >
        <i class="fas fa-flag-checkered"></i>
        <span  style="font-family: 'Righteous', cursive;" >RaceNow</span>
    </div>
    <div class="border rounded signin-form">
        <p class="h5 mt-4">ログイン</p>
        <form class="form p-4" method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.username | add_label_class:"visually-hidden" }}
            {{ form.username | attr:"placeholder: ユーザー名" | add_class:"form-control" }}
            {{ form.password | add_label_class:"visually-hidden" }}
            {{ form.password | attr:"placeholder: パスワード" | add_class:"form-control" }}
            <input type="submit" value="ログイン" class="btn btn-primary mt-3 w-100">
        </form>
    </div>
    <p class="small text-secondary my-5">&copy;RaceNowProject 2021</p>
</div>
{% endblock %}