{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Righteous&display=swap" rel="stylesheet">

    <title>RaceNow|{% block title %}{% endblock %}</title>
</head>
<body class="h-100 vstack" style="padding:60px 0">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" style="font-family: 'Righteous', cursive;" href="{% url "index" %}">
                <i class="fas fa-flag-checkered"></i>
                RaceNow
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mg-lg-0">
                    <li class="nav-item" aria-current="page">
                        <a class="nav-link active" href="#">レース検索</a>
                    </li>
                </ul>
            
            </div>
            {% if user.is_authenticated %}
                <div class="align-items-center me-3 text-light">
                    {{ user.username }}としてログイン中
                </div>
                <button class="btn btn-outline-light" href="#">ログアウト</button>
            {% else %}
                <button class="btn btn-outline-light me-2" href="#">ログイン</button>    
                <button class="btn btn-outline-info" href="#">新規登録</button>    
            {% endif %}
        </div>
    </nav>
    {% block contents %}
    {% endblock %}
    {% bootstrap_javascript %}
</body>
</html>