{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}新規レース作成{% endblock %}

{% block append_head %}
    <!-- for admin widgets -->
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>

    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {{ form.media }}
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
    <!-- end for admin widgets -->
{% endblock %}

{% block contents %}
<section class="container py-2">
    <div class="row">
        <div class="col">
            <p class="display-5 text-center">新規レース作成</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form action="" method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% bootstrap_button type="submit" content="作成" %}
            </form>
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
<script>
    var category = document.querySelector('#id_category');
    var racetype = document.querySelector('#id_racetype');
    var original = racetype.innerHTML;

    category.onchange = event => {
        var category_id = category.selectedOptions[0].value;
        racetype.innerHTML = original;
        racetype.querySelectorAll('option').forEach(function(element){
            if ( element.value == -1 ) { return; }
            
            var parent_id = element.getAttribute('parent_id');
            if ( category_id != parent_id ) {
                element.remove()
            }
        })

        if ( category_id == -1 ) {
            racetype.setAttribute('disabled', 'true');
        } else {
            racetype.removeAttribute('disabled');
        }
    }
</script>
{% endblock %}