{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}{{ object.name }}詳細情報{% endblock %}
{% block append_head%}
<style>
    section{
        margin-top: -120px;
        padding-top: 120px
    }
</style>
{% endblock %}
{% block bodyattribute %}
data-bs-spy="scroll" data-bs-target="#navbarRaceContent"
{% endblock %}

{% block fixed_top %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <span class="h3">
            {{ object.name }}
            {% if object.status.id == 1 %}
                <span class="badge bg-info p-2 rounded">{{ object.status.name }}</span>
            {% elif object.status.id == 2 %}
                <span class="badge bg-warning p-2 rounded">{{ object.status.name }}</span>
            {% elif object.status.id == 3 %}
                <span class="badge bg-success p-2 rounded">{{ object.status.name }}</span>
            {% elif object.status.id == 4 %}
                <span class="badge bg-secondary p-2 rounded">{{ object.status.name }}</span>
            {% endif %}
        </span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarRaceContent" aria-controls="navbarRaceContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarRaceContent">
            <ul class="nav nav-pills ms-2 me-auto mg-lg-0">
                <li class="nav-item" aria-current="page">
                    <a class="nav-link active" href="#race_baseinfo">基本情報</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#race_regulation">レースレギュレーション</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#other_info">その他掲載情報</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#race_entrant">エントラント</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="resultDropDown" role="button" data-bs-toggle="dropdown" aria-expanded="false">リザルト</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="resultDropDown">
                        <li><a class="dropdown-item" href="#race_result">リザルト</a></li>
                        <li><a class="dropdown-item" href="{% url 'show_result' object.id %}">全リザルト表示</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block contents %}
<div class="container py-2" style="margin-top: 70px;">
    <section id="race_baseinfo">
        <div class="card my-1">
            <div class="card-header bg-light">
                <div class="d-flex justify-content-between p-2">
                    <div>
                        <span class="h3"><i class="bi bi-grid-fill me-1"></i>基本情報</span>
                    </div>
                    <div class="d-flex h-stack">
                        {% if IsMember == True %}
                            <a role="button" class="btn btn-primary" href="#">基本情報更新</a>    
                            {% if Is_canstart %}
                            <div class="ms-2">
                                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#RaceStartModal">
                                    レース開始
                                </button>
                            </div>
                            {% endif %}
                            {% if Is_RaceHold %}
                            <div class="ms-2">
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#RaceFinishModal">
                                    レース終了
                                </button>
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th>開催場所</th>
                        <td>{% include 'place_info_card.html' %}</td>
                    </tr>
                    <tr>
                        <th>開催日</th>
                        <td>{{ object.event_date }}</td>
                    </tr>
                    <tr>
                        <th>主催団体</th>
                        <td><a href="{% url 'organizer_detail' pk=object.organizer.id %}">{{ object.organizer.name }}</a></td>
                    </tr>
                    <tr>
                        <th>レースカテゴリ</th>
                        <td>{{ object.racetype.category.name }}</td>
                    </tr>
                    <tr>
                        <th>レース形式</th>
                        <td>{{ object.racetype.name }}</td>
                    </tr>
                    <tr>
                        <th>ホームページURL</th>
                        <td>{{ object.url }}</td>
                    </tr>
                </table>   
            </div>
        </div>
    </section>
    <section id="race_regulation">
        <div class="card my-3">
            <div class="card-header bg-light">
                <div class="d-flex justify-content-between p-2">
                    <div>
                        <span class="h3"><i class="bi bi-card-checklist me-1"></i>レースレギュレーション</span>
                        {% if Is_CanChangeRegulation %}
                        <span class="badge bg-warning">レギュレーション未確定</span>
                        {% else %}
                        <span class="badge bg-primary">レギュレーション確定</span>
                        {% endif %}
                    </div>
                    <div>
                        {% if IsMember and Is_CanChangeRegulation %}
                            <a role="button" class="btn btn-primary"  href="">レギュレーション更新</a>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#RegulationFixModal">
                                レギュレーション確定
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div> 
            <div class="card-body">
                {% if race.is_regulationsetuped %}
                <table class="table">
                    <tr>
                        <th>項目名</th>
                        <th>レギュレーション内容</th>
                    </tr>
                    {% if race.is_teamrace %}
                    <tr>
                        <td>レース形式</td>
                        <td>チームレース</td>
                    </tr>
                    <tr>
                        <td>チーム最小人数</td>
                        <td>{{ race.team_member_count_min }}</td>
                    </tr>
                    <tr>
                        <td>チーム最大人数</td>
                        <td>{{ race.team_member_count_max }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td>レース形式</td>
                        <td>個人レース</td>
                    </tr>
                    {% endif %}
                    {% if race.is_heat %}
                    <tr>
                        <td>ヒート制</td>
                    <td>あり {{ race.heat_count }}ヒート</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td>ヒート制</td>
                        <td>なし(1ヒート)</td>
                    </tr>
                    {% endif %}
                </table>
                {% else %}
                <div class="p-3 border  border-4 rounded text-center bg-noneinfo" >
                    <p class="h5">未設定</p>
                    <a role="button" class="btn btn-primary" href="{% url 'regulations_setup' pk=race.id %}">レギュレーションの設定</a>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    
    <section id="other_info">
        <div class="card">
            <div class="card-header bg-light">
                <div class="d-flex justify-content-between p-2">
                    <div>
                        <span class="h3"><i class="bi bi-journal me-1"></i>その他掲載情報</p></span>    
                    </div>
                </div>
            </div>
            <div class="card-body">
                {% if object.note %}
                {{ object.note }}
                {% else %}
                <div class="p-3 border  border-4 rounded h5 text-center bg-noneinfo" >
                    記載なし
                </div>
                {% endif %}
            </div>
        </div>
    </section>

    <section id="race_entrant">
        <div class="card my-3">
            <div class="card-header bg-light">
                <div class="d-flex justify-content-between p-2">
                    <div>
                        <span class="h3"><i class="bi bi-people-fill me-1"></i>エントラント</span>
                        <span class="ms-4">{{ object.entrant_set.count }}エントリー</span>

                        {% if IsMember %}
                        {% if Is_CanChangeRegulation %}
                        <span class="text-danger ms-4">レギュレーションが未確定のため、参加者を追加できません。</span>
                        {% else %}
                        <span class="text-danger ms-4">レース開催後は参加者を変更できません。</span>
                        {% endif %}
                        {% endif %}
                    </div>
                    <div>
                        <div class="d-flex justify-content-end">
                            {% if Is_ShowEntrants %}
                            <a role="button" class="btn btn-info me-1" href="{% url 'entrant_index' object.id %}">エントラント一覧</a>
                            {% endif %}

                            {% if IsMember %}
                                {% if Is_Entry %}
                                <div>
                                    <a role="button" class="btn btn-primary" href="{% url 'add_entrant' object.id %}">エントラント追加</a>
                                </div>
                                {% else %}
                                <div>
                                    <button class="btn btn-primary" href="#" disabled>参加者追加</button>
                                </div>
                                {% endif %}
                            {% endif %}
                        </div>    
                            
                    </div>
                </div>
            </div>
            <div class="card-body">
                {% if entrants %}
                <table class="table">
                    <tr>
                        <th>ゼッケンNo</th>
                        <th>エントラント名</th>
                        <th>メンバー氏名</th>
                    </tr>
                    {% for entrant in entrants %}
                    <tr>
                        <td>{{ entrant.num }}</td>
                        {% if entrant.team_name %}
                            <td>{{ entrant.team_name }}</td>
                        {% else %}
                            <td>
                                <span class="text-muted">チーム名なし</span>
                            </td>
                        {% endif %}
                        <td>
                            {% for member in entrant.entrant_member_set.all %}
                                {{ member.name }} {% if not forloop.last %} / {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% elif not object.is_regulationsetuped %}
                <div class="p-3 border  border-4 rounded h5 text-center bg-noneinfo" >
                    エントラントの登録にはレギュレーションの設定が必要です。
                </div>
                {% else %}
                <div class="p-3 border  border-4 rounded h5 text-center bg-noneinfo" >
                    エントラント未登録
                </div>
                {% endif %}
            </div>
        </div>
    </section>

    <section id="race_result">    
        <div class="card my-3">
            <div class="card-header bg-light">
                <div class="d-flex justify-content-between p-2">
                    <div>
                        <span class="h3"><i class="bi bi-trophy-fill me-1"></i>リザルト</span>
                    </div>
                    <div>
                        {% if IsMember == True %}
                            {% if Is_RaceHold %}
                                <a role="button" class="btn btn-primary" href="{% url 'input_result' object.id %}">リザルト入力</a>
                            {% endif %}
                        {% endif %}
                        {% if Is_ShowResult %}
                        <a href="{% url 'show_result' object.id %}" class="btn btn-primary">全リザルト表示</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                {% if Is_ShowResult %}
                <table class="table table-striped table-hover table-ranking" id="result_data">
                    <tr>
                        <th hidden>ID</th>
                        <th class="text-center">順位</th>
                        <th class="text-center">ゼッケンNo</th>
                        <th>チーム名</th>
                        <th>ライダー</th>
                        <th class="text-center">周回数</th>
                    </tr>
                    {% for item in result %}
                    <tr>
                        <td hidden>{{ item.id }}</td>
                        <td class="text-center h4">{{ forloop.counter }}</td>
                        <td class="text-center">{{ item.num }}</td>
                        <td>{{ item.team_name }}</td>
                        <td>{% for member in item.entrant_member_set.all %}{{ member.name }} {% if not forloop.last %} / {% endif %}  {% endfor %}</td>
                        <td class="text-center">{{ item.lapcount }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <div class="p-3 border  border-4 rounded h5 text-center bg-noneinfo" >
                    レース開催前のため、リザルトはありません。
                </div>
            {% endif %}
            </div>
        </div>
    </section>
</div>
<!-- レギュレーション確定モーダル -->
<div class="modal fade" id="RegulationFixModal" tabindex="-1" aria-labelledby="RegulationFixModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="RegulationFixModalLabel">レギュレーション確定確認</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <p>レースレギュレーションを確定してエントリー開始してももよろしいですか？</p>
            <p class="text-danger">※レギュレーション確定後はレギュレーションを変更できなくなります。</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
            <form action="{% url 'race_fixedregulation' object.id %}", method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">レギュレーション確定</button>
            </form>
            </div>
        </div>
    </div>
</div>
<!-- レース終了モーダル -->
<div class="modal fade" id="RaceFinishModal" tabindex="-1" aria-labelledby="RaceFinishModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="RaceFinishModalLabel">レース終了確認</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <span class="text-danger" style="font-size: 8rem;">
                        <i class="bi bi-pause-circle-fill"></i>
                    </span>
                    <h3 class="mt-5">レースを終了してもよろしいですか？</h3>
                    <span class="text-danger">※レース終了後はエントラントのラップの追加ができなくなります。<br>
                        ※レース終了後はエントラントのDNF設定ができなくなります。</span>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
            <form action="{% url 'race_finishrace' object.id %}", method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">レース終了</button>
            </form>
            </div>
        </div>
    </div>
</div>
<!-- レース開始モーダル -->
<div class="modal fade" id="RaceStartModal" tabindex="-1" aria-labelledby="RaceStartModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="RaceStartModalLabel">レース開始確認</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <span class="text-success" style="font-size: 8rem;">
                        <i class="bi bi-caret-right-fill"></i>
                    </span>
                    <h3 class="mt-5">レースを開始してもよろしいですか？</h3>
                    <span class="text-danger">※レース開始後はエントラントの追加ができなくなります。<br>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
            <form action="{% url 'race_start' object.id %}", method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">レース開始</button>
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
