{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}レース主催場所_新規作成{% endblock %}

{% block contents %}
<section class="container py-2">
    <div class="row mb-5">
        <div class="col">
            <p class="display-5 d-inline">{{ object.name }}</p>
            <p class="bg-info p-2 h6 d-inline rounded-pill">{{ object.status.name }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="h5">基本情報</p>
            {% if IsMember == True %}
            <a role="button" class="btn btn-primary" href="#">基本情報更新</a>
            {% endif %}
            <table class="table">
                <tr>
                    <th>開催場所</th>
                    <td>{{ object.place.name }}</td>
                </tr>
                <tr>
                    <th>主催団体</th>
                    <td><a href="{% url 'organizer_detail' pk=object.organizer.id %}">{{ object.organizer.name }}</a></td>
                </tr>
                <tr>
                    <th>レースカテゴリ</th>
                    <td>{{ object.racetype.category.name }}</td>
                </tr>
                <tr>
                    <th>レース形式</th>
                    <td>{{ object.racetype.name }}</td>
                </tr>
                <tr>
                    <th>ホームページURL</th>
                    <td>{{ object.url }}</td>
                </tr>
            </table>   
        </div>
    </div>
    <div class="row my-3">
        <div class="col">
            <p class="h5">レースレギュレーション</p>
            <table class="table">
                <tr>
                    <th>項目名</th>
                    <th>レギュレーション内容</th>
                </tr>
            </table>
        </div>
    </div>

    {% if IsMember == True %}
    <hr>
    <div class="row my-5">
        <div class="col">
            <p class="h5">レース管理</p>
            <a role="button" class="btn btn-primary" href="#">参加者追加</a>
            <a role="button" class="btn btn-primary" href="#">リザルト入力</a>
        </div>
    </div>
    {% endif %}
    {% if IsShowResult %}
    <div class="row">
        <div class="col">
            <p class="h5">リザルト</p>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col">
            <p class="h5">参加者一覧</p>
            <table>
                <tr>
                    <th>ゼッケンNo</th>
                    <th>エントラント名</th>
                </tr>
            </table>
        </div>
    </div>
</section>
{% endblock %}
