{% extends 'base.html' %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}

{% block append_head %}
{% endblock %}

{% block title %}エントラント追加{% endblock %}

{% block contents %}
<div class="container py-3">
    <div class="row">
        <p class="display-5">エントラント追加</p>    
    </div>
    <form action="{% url 'add_entrant' pk=object.id %}" method="POST" >
        <div class="d-flex justity-content-between ">
            <span class="h5 me-auto">レース名 {{ object.name }}</span>
            <div class="ms-auto">
                {% bootstrap_button type="submit" content="追加確定" %}
            </div>
        </div>
        <div class="card my-3">
            <h5 class="card-header">基本情報</h5>
            <div class="card-body">
                {% csrf_token %}
                {% bootstrap_form form %}
            </div>
        </div>
        <div class="border border-1 rounded">
            <div class="bg-light p-1 border border-1 d-flex justify-content-between align-items-center">
                <p class="h5 ms-1 my-auto">エントラントメンバー(最小{{member_min}}名、最大{{ member_max }}名まで)</p>
                <button type="button" class="btn btn-primary" id="btn_showmemberaddModal" data-bs-toggle="modal" data-bs-target="#MemberAddModal">メンバー追加</button>
            </div>
            <div class="card-body">
                <table class="table" id="members_info">
                    <tr>
                        <th>メンバー名</th>
                        <th>マシン名</th>
                    </tr>
                </table>
            </div>
        </div>     
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="MemberAddModal" tabindex="-1" aria-labelledby="MemberAddModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <Form method="dialog">
                <div class="modal-header">
                    <h5 class="modal-title" id="MemberAddModalLabel">メンバー追加</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" name="addmember_name" id="addmember_name" placeholder="メンバー名" class="form-control" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                    <button type="submit" class="btn btn-primary" id="btn_addmember_ok">追加</button>
                </div>
            </Form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    var frm_memberadd = new bootstrap.Modal(document.getElementById('MemberAddModal'));
    var btn_showModal = document.querySelector("#btn_showmemberaddModal");
    document.querySelector('#MemberAddModal').addEventListener("show.bs.modal", function(event){
        if (!(canAddMember())) {
            alert("メンバー数の上限を超えて追加することはできません。");
            event.preventDefault();
        }
    })

    document.querySelector('#MemberAddModal').addEventListener("submit", function(event){
        var membername = document.querySelector('#addmember_name').value;

        var targettable = document.querySelector('#members_info');
        var addrow = targettable.insertRow();
        addrow.insertCell().appendChild(document.createTextNode(membername));
        addrow.insertCell().appendChild(document.createTextNode(""));

        var ele_input_members = document.querySelector('#id_members');
        var memberdata = {};
        if ( ele_input_members.value != "") { 
            memberdata = JSON.parse(ele_input_members.value); 
        }

        memberdata[Object.keys(memberdata).length] = {"name":membername };
        ele_input_members.value = JSON.stringify(memberdata);

        document.querySelector('#addmember_name').value = "";

        frm_memberadd.hide();

        if(!(canAddMember())){
            btn_showModal.disabled = true;
        }
    })

    function canAddMember(){
        var targettable = document.querySelector('#members_info');
        var count = targettable.rows.length - 1;
        var member_max = {{ member_max }};
        return member_max > count ;
    }

</script>
{% endblock %}