{% extends 'base.html' %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}

{% block append_head %}
{% endblock %}

{% block title %}エントラント追加{% endblock %}

{% block contents %}
<div class="container py-3">
    <div class="row">
        <p class="display-5">エントラント追加</p>    
    </div>
    <form action="{% url 'add_entrant' pk=object.id %}" >
        <div class="d-flex justity-content-between ">
            <span class="h5 me-auto">レース名 {{ object.name }}</span>
            <div class="ms-auto">
                {% bootstrap_button type="submit" content="追加確定" %}
            </div>
        </div>
        <div class="card my-3">
            <h5 class="card-header">基本情報</h5>
            <div class="card-body">
                {% csrf_token %}
                {% bootstrap_form form %}
            </div>
        </div>
        
        
        <div class="border border-1 rounded">
            <div class="bg-light p-1 border border-1 d-flex justify-content-between align-items-center">
                <p class="h5 ms-1 my-auto">エントラントメンバー</p>
                <a role="button" class="btn btn-primary" href="http://">メンバー追加</a>
            </div>
            <div class="card-body">
                <table class="table" id="members_info">
                    <tr>
                        <th>メンバー名</th>
                        <th>マシン名</th>
                    </tr>
                </table>
            </div>
        </div>
        
    </form>
</div>
    
{% endblock %}

{% block script %}
{% endblock %}